*{
    color:black;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    
    
    
}


.img{
    border: 2px solid black;
    width: 1000px;
    margin: 30px auto;
    display: inline block;
    background-color: blue;
}

.container{
   
   
    border: 2px solid blue;
    width: 150px;
    margin: 50px auto; 
    display: inline-block;
    
}
h1{
   font-size: 70px;
    width: 800px;
    margin: 0px auto; 
}
.noob{
    width: 95px;
   
   margin: 30px auto ;
    text-decoration:double ;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
    background-color: blue;
    font-weight: 50px;
     text-decoration: none;
 }  
p{
    font-size: 40px;
    width: 500px;
    margin: 0px auto; 
   
}

.jio{

    font-size: 20px;
    width: 650px;
    margin: 0px 0px 70px 800px auto;
    display: inline-block;
  

}

.sim{
    font-size: 20px;
    width: 650px;
    margin: 0px 0px 70px 800px auto ;
    display: inline-block;


}
    
.bot{
    font-size: 20px;
    width: 650px;
    margin: 0px 0px 70px 800px auto;
    display: inline-block;

}  
.max{
    font-size: 20px;
    width: 550px;
    margin: 200px 900px 0px 80px ;
  

}
 .mohit{
    text-align: center ;
     width: 500px;
     margin: 0px 0px 0px 700px;
     display: inline block;
    
  }

    .bgmi{
        
        font-size: 20px;
        width: 650px;
        margin: 0px 0px 70px 800px auto ;
        display: inline-block;
    }
    
.lol{
   width: 400px;
   margin:100px 0px 0px 0px ;
  
}
   

h3{
    width: 100px;
    margin: 0px auto;
   padding: 0px;
}

.wow{
    font-size: 20px;
    width: 200px;
    margin: 0px auto;
    display: inline-block;
}
.king{
    font-size: 20px;
    width: 200px;
    margin: 0px 80px;
    display: inline-block;
}
.queen{
    font-size: 20px;
    width: 200px;
    margin: 0px 80px;
    display: inline-block;

}
.dum{
    font-size: 20px;
    width: 200px;
    margin: 0px 80px;
    display: inline-block;
}

.head{
    margin: 50px 600px 50px 50px;
}