*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;

}




.box{
    width: 1500px;
    height: 100px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content:space-evenly;
    background-color:gray;

}

.shape a{
    width:150px;
    height: 20px;
    align-items: center;
     text-decoration: none;
     color:black;
}

.shape a:hover{
  color: blueviolet;
}


.numbers{
    display: flex;
    width: 1500px;
    height: 30px;
    border: 1px solid black;
    align-items: center;
    justify-content:left;
    flex-direction: row;
   background-color: aquamarine;

}

.list a{
    width: 60px;
    height: 10px;
    text-decoration: none;
    align-items:center;
    color: black;
    margin: 0px 20px;

}
.list a:hover{
   color: chartreuse;
}

h1{
    text-align: center;
    background-color: bisque;
}

h4{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   text-align: center;
   background-color: bisque;
}


h4 a{
    text-decoration: none;
    color: #007185;


}
h4 a:hover{
  color: orange;
}

.main{
    width: 1500px;
    height: 200px;
    display: flex;
    justify-content: space-evenly;
    align-items: start;
    border: 1px solid black;
    background-color: lightgray;
}

.div{
    width: 150px;
    height: 50px;
    align-items: center;
   

}
.div a:hover{
    
    color:blue;
}
.div a{
    text-decoration: none;
}

#top{
    margin-top: 0%; 
}
#love{
    
   
    
    text-align: center;
}
 
.li ol li a{
    text-decoration: none;
    color: black;
   


}
.li ol li a:hover{
    color: cadetblue;

}

.way a{
    text-decoration: none;
    margin-left: 20px;
    color: black;
}

.way a:hover{
    color: #007185;
}
h2{
   align-items: center;
   height: 100px;
}

.class {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
    .li{
        margin-top: 0px;
    }
  

.add a{
    text-decoration: none;
    color: black;
    margin-left: 20px;
}
.add a:hover{
    color: #007185;
}

.way{display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}
